body {
  font-family: Arial, Helvetica, sans-serif;
}

.todo-input-grid,
.todo-grid {
  display: grid;
  grid-template-columns: 200px 150px 100px;
  column-gap: 10px;
  row-gap: 10px;
  align-items: center;
}

.todo-input-grid {
  margin-bottom: 15px;
}

.name-input,
.due-date {
  font-size: 15px;
  padding: 6px;
}

.add-todo-button {
  background-color: green;
  color: white;
  border: none;
  font-size: 15px;
  padding: 10px;
  cursor: pointer;
}

.delete-todo-button {
  background-color: darkred;
  color: white;
  border: none;
  font-size: 15px;
  padding: 10px;
  cursor: pointer;
}

.delete-todo-button:hover,
.add-todo-button:hover {
  opacity: 0.8;
}
